body {
    background-color: lightgrey;
}

.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.cards li {
    background-color: white;
 /*   border: 1px none #d0bfff; */
    padding: 10px;
    border-radius: 5px;
}
.card1 {
    grid-column: 1 / 4;
    grid-row: 1;
}

.card3 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    border-top: solid grey;
    border-bottom: solid grey;

}
.card4 {
    grid-column: 1 / 4;
    grid-row: 6;
}
.card5 {
    grid-column: 1 / 4;
    grid-row: 7;
}

.card6 {
    grid-column: 1 / 4;
    grid-row: 8;
}

.card7 {
    grid-column: 1 / 4;
    grid-row: 5;
    text-align: left;

}

img.cover {
     width: 100%;
     height: 100%;
     max-height: 450px;
} 

img.logo {
    width: 25%;
    float: left;
    max-height: 150px;
    max-width: 150px;
}

img.project {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
     max-height: 150px;
    max-width: 150px;
}

.header {
    text-align: right;
    height: auto;
    font-size: 250%;
    word-wrap: break-word;
    

}  

.sub-header {
    text-align: right;
    height: auto;
    font-size: 100%;
    word-wrap: break-word;
    
}


.container {
    padding-left: 10px;
    padding-right: 10px; 
    background-color: white;

}

.main {
    word-wrap: break-word;
    text-align: center;
    
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:active, .hvr-pop:focus, .hvr-pop:active, .hvr-pop:hover {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



/*Icon fade in*/
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: 0.5s
}

.fade-in2 {
    animation-delay: 1s
}

.fade-in3 {    
    animation-delay: 1.5s
}


/*Scale page to larger screen*/
@media screen and (min-width: 1050px) {

    .container {
        max-width:900px;
        margin: auto;
    }
    .card1 {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    
    .card3 {
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }
    .card4 {
        grid-column: 1;
        grid-row: 6;
    }
    .card5 {
        grid-column: 2;
        grid-row: 6;
    }

    .card6 {
        grid-column: 3;
        grid-row: 6;
    }
    .card7 {
        grid-column: 1 / 4;
        grid-row: 5;
    }

}
